* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* Colors */
  --color-base-white: #ffffff;
  --color-base-blue-900: #065e7c; /* header */
  --color-base-blue-600: #387e96; /* input, footer */
  --color-base-blue-200: #f4fcff; /* body */

  --color-font-black-900: #202024; /* titles */
  --color-font-black-600: #121214; /* paragraphs */
}

/* Elements */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%;
  color: var(--color-font-black-900);
}

h3 {
  font-size: 1.8rem;
}

section p {
  line-height: 160%;
  color: var(--color-font-black-600);
}

/* Layout */

body,
input,
label {
  background-color: var(--color-base-blue-200);
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  color: white;
}

.container {
  width: min(128rem, 100%);
  padding: 0 2.8rem;
  margin-inline: auto;
}

#app {
  display: grid;
  /* grid-template-rows: max-content 1fr max-content; */
  grid-template-areas:
    "a"
    "b"
    "c";
}

header {
  grid-area: a;
}

section {
  grid-area: b;
}

footer {
  grid-area: c;
}

/* header */
header {
  background: var(--color-base-blue-900);
  padding-block: 1.6rem;
  color: white;
}

header .container {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

header img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}

/*** inputs ***/
header form {
  flex: 1;
}

header label {
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}

header input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: none;
  border-radius: 4px;
  background: var(--color-base-blue-600);
}

header input::placeholder {
  color: var(--color-base-white);
}

/* main */

main .title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main .icon-wrapper {
  display: flex;
  gap: 1.2rem;
}

.icon-wrapper img {
  width: 4rem;
  height: 4rem;
}
main .title-wrapper,
main p {
  margin-top: 3.2rem;
}

.hidden {
  display: none;
}

.capa {
  height: clamp(21.8rem, 22vw + 13vh, 40.2rem);
}

/* aside */
aside {
  width: 38.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

figure {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

figure img {
  border-radius: 5px;
  width: 15.2rem;
  aspect-ratio: 16/9;
}

aside p {
  font-size: 1.4rem;
  line-height: 160%;
}

footer {
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: var(--color-base-white);

  background: var(--color-base-blue-600);
  padding-block: 1.6rem;
  margin-top: 4rem;
}

/* ------ ANIMATION ------ */

header {
  animation: move 0.8s backwards;
}

figure {
  --delay: 0.4s;
  animation: appear 0.2s var(--delay) backwards;
}

@keyframes move {
  from {
    transform: translateY(-100%);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }
}

/* responsive */

@media (min-width: 1024px) {
  section .container {
    margin-top: 6rem;
    display: grid;
    column-gap: 3.2rem;
    grid-template-areas: "l l r";
  }

  .hidden {
    display: block;
  }

  section > img {
    display: none;
  }

  main .title-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    grid-area: l;
  }

  aside {
    grid-area: r;
  }

  main img {
    height: 40.8rem;
    border-radius: 5px;
  }
}
