* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /* Dark Mode */
    --bg-url: url(assets/bg-mobile.jpg);
    --bg-url-track: url(assets/MoonStars.svg);
    --text-color-dark-mode: #fff;
    --stroke-color-dark-mode: rgba(255, 255, 255, 0.50);
    --surface-color-dark-mode: rgba(255, 255, 255, 0.10);
    --surface-color-dark-mode-hover: rgba(255, 255, 255, 0.05);
    --highlight-color-dark-mode: rgba(255, 255, 255, 0.20);

    /* Light Mode */
    --text-color-light-mode: #000;
    --stroke-color-light-mode: rgba(0, 0, 0, 0.50);
    --surface-color-light-mode: rgba(0, 0, 0, 0.05);
    --surface-color-light-mode-hover: rgba(0, 0, 0, 0.02);
    --highlight-color-light-mode: rgba(0, 0, 0, 0.10);

}

.light {
    --bg-url: url(assets/bg-mobile-light.jpg);
    --bg-url-track: url(assets/Sun.svg);
    --text-color-dark-mode: var(--text-c);
    --stroke-color-dark-mode: var(--stroke-color-light-mode);
    --surface-color-dark-mode: var(--surface-color-light-mode);
    --surface-color-dark-mode-hover: var(--surface-color-light-mode-hover);
    --highlight-color-dark-mode: var(--highlight-color-light-mode);
}

/* Geral */
header a,
main a {
    text-decoration: none;
}

a {
    color: var(--text-color-dark-mode);
}

ul {
    list-style-type: none;
}

/* text-sm: 500 - 24 */
figcaption,
main li {
    font-weight: 500;
    line-height: 2.4rem;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    background: var(--bg-url) no-repeat top center/cover;
    color: var(--text-color-dark-mode);
}

#app {
    width: min(58.8rem, 100%);
    margin: 8rem auto 5.6rem;
    padding: 2.4rem;
}

#app,
figure,
.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    gap: .8rem;
}

header img {
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--stroke-color-dark-mode);
}

main {
    width: 100%;
}

.track {
    width: fit-content;
    margin: 2.4rem auto;
    position: relative;
}

button {
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    background: #FFF var(--bg-url-track) no-repeat center;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}


.light button {
    right: 0;
}

.track span {
    display: block;
    width: 64px;
    height: 24px;
    border-radius: 9999px;
    border: 1px solid var(--stroke-color-dark-mode);
    background: var(--surface-color-dark-mode);
}

main ul {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 2.8rem;
}

main li a {
    display: flex;
    padding: 1.6rem 2.4rem;
    border-radius: .8rem;
    justify-content: center;
    border: 1px solid var(--stroke-color-dark-mode);
    background-color: var(--surface-color-dark-mode);
}

main li:hover {
    background: var(--surface-color-dark-mode-hover);
    cursor: pointer;
}

main .social-media {
    flex-direction: row;
    justify-content: center;
    gap: .8rem;
    margin-top: 4.8rem;
}

main .social-media ion-icon {
    width: 2.4rem;
    height: 2.4rem;
    padding: 1.6rem;
}

main .social-media ion-icon:hover {
    background: var(--highlight-color-dark-mode);
    border-radius: 50%;
}

footer {
    margin-top: 4.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
}